*.psd filter=lfs diff=lfs merge=lfs -text
backend/ffmpeg/bin/*.exe filter=lfs diff=lfs merge=lfs -text
backend/ffmpeg/bin/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
myfile filter=lfs diff=lfs merge=lfs -text
backend/ffmpeg/bin/ffplay.exe filter=lfs diff=lfs merge=lfs -text
backend/ffmpeg/bin/ffprobe.exe filter=lfs diff=lfs merge=lfs -text
